@charset "UTF-8";
/* CSS Document */

		* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: white;
	width: 375px;
			overflow: hidden;
}

.container {
  width: 375px;
  height: 667px;
  
  position: relative;
}

		
		.receipt_img,
		.group_img {
			width: 100%;
			height: auto;
			border: none;
			display: block;
		}
		
.div_slide {
			width: 375px;
			height: 667px;
			position: absolute;
			bottom:-667px;
			left: 0;
	z-index: 2;
		}
		#overlay {
			width: 100%;
			height: 100%;
			background: black;
			opacity: 0.4;
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 1;
			display: none;
		}
		
.button {
  margin: 20px auto;
  width: 120px;
  text-align: center;
  padding: 10px 20px;
  border-radius: 4px;
  background: #4caf50;
  cursor: pointer;
	position: absolute;
    top: 200px;
    right: 200px;
}
		
		.play-me {
			position: fixed;
			bottom: 0px; 
			left: 0px; 
			display: block; 
			width: 187px; 
			background-color: #e8e8e8; 
			color: #3c3c3c; 
			z-index: 99999999; 
			height: 66px;
			text-align:center;
			line-height:68px;
			font-family: Arial, sans-serif;
			cursor:pointer;
		}
		
		.next-me {
			position: fixed; 
			bottom: 0px; 
			right: 0px; 
			display: block; 
			width: 188px; 
			background: red; 
			color: white; 
			z-index: 99999999; 
			height: 48px;
		}

.confetti {
  height: 100vh;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 375px;
  z-index: 100;
}

.confetti__item {
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    height: 5px;
    left: 50vw;
    position: absolute;
    top: -4vh;
    width: 10px;
}

.confetti__item--animation1 {
    animation-name: confetti1;
}

.confetti__item--animation2 {
    animation-name: confetti2;
}

.confetti__item--animation3 {
    animation-name: confetti3;
}

.confetti__item--animation4 {
    animation-name: confetti4;
}

.confetti__item--animation5 {
    animation-name: confetti5;
}

.confetti__item--animation6 {
    animation-name: confetti6;
}

.confetti__item--animation7 {
    animation-name: confetti7;
}

.confetti__item--animation8 {
    animation-name: confetti8;
}

.confetti__item--animation9 {
    animation-name: confetti9;
}

.confetti__item--colour1 {
    background: #fcc85b;
}

.confetti__item--colour2 {
    background: #eee5ed;
}

.confetti__item--colour3 {
    background: #fef673;
}

.confetti__item--colour4 {
    background: #b8a480;
}

.confetti__item--colour5 {
    background: #c50a20;
}

@keyframes confetti1 {
    0% {
        top: -4vh;
        transform: rotateX(0deg);
    }

    100% {
        top: 110vh;
        transform: rotateX(3600deg);
    }
}

@keyframes confetti2 {
    0% {
        top: -4vh;
        transform: translateX(0) rotateX(0deg);
    }

    100% {
        top: 110vh;
        transform: translateX(200px) rotateX(3600deg);
    }
}

@keyframes confetti3 {
    0% {
        top: -4vh;
        transform: translateX(0) rotateX(0deg);
    }

    100% {
        top: 110vh;
        transform: translateX(-200px) rotateX(3600deg);
    }
}

@keyframes confetti4 {
    0% {
        top: -4vh;
        transform: rotateY(0deg);
    }

    100% {
        top: 110vh;
        transform: rotateY(3600deg);
    }
}

@keyframes confetti5 {
    0% {
        top: -4vh;
        transform: translateX(0) rotateY(0deg);
    }

    100% {
        top: 110vh;
        transform: translateX(200px) rotateY(3600deg);
    }
}

@keyframes confetti6 {
    0% {
        top: -4vh;
        transform: translateX(0) rotateY(0deg);
    }

    100% {
        top: 110vh;
        transform: translateX(200px) rotateY(3600deg);
    }
}

@keyframes confetti7 {
    0% {
        top: -4vh;
        transform: rotateZ(0deg);
    }

    100% {
        top: 110vh;
        transform: rotateZ(3600deg);
    }
}

@keyframes confetti8 {
    0% {
        top: -4vh;
        transform: translateX(0) rotateZ(0deg);
    }

    100% {
        top: 110vh;
        transform: translateX(200px) rotateZ(3600deg);
    }
}

@keyframes confetti9 {
    0% {
        top: -4vh;
        transform: translateX(0) rotateZ(0deg);
    }

    100% {
        top: 110vh;
        transform: translateX(-200px) rotateZ(3600deg);
    }
}
	